<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="OfficialSource" value="\\172.28.253.21\build\Drop\Engage6.5\Official\Server_side" />
    <add key="OfficialSpSource" value="\\172.28.253.21\build\Drop\Engage6.5\Official" />
    <add key="OfficialDeploymentSource" value="\\172.28.253.21\build\Drop\Deployment_Products\Official\Engage_6.5" />
    <add key="DailyUPsFolder" value="\172.28.253.21\build\AutoDeployment\MirageB" />
    <add key="DailyDeplymentSource" value="\\172.28.253.21\build\Drop\Deployment_Products\Under_RND_testing\Tools\" />
    <add key="SharedCSource" value="\\172.28.253.21\build\AutoDeployment\SharedC" />
    <add key="SlashCSource" value="\\172.28.253.21\build\AutoDeployment\SplashC" />
    <add key="MiniBusSource" value="\\172.28.253.21\build\AutoDeployment\MiniBus" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
